@use '/src/assets/styles/theme_colors_scheme' as *;

.spinner {
  fill: $primary-a-100;

  &.md {
    width: 45px;
    height: 45px;
  }

  &.sm {
    width: 24px;
    height: 24px;
  }

  &.lg {
    width: 64px;
    height: 64px;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  animation: spin 2s linear infinite;
}
