$font-family:
  'Open Sans',
  -apple-system,
  'Ubuntu',
  sans-serif;

$h3-weight: 500;
$h3-size: 20px;
$h3-line-height: 24px;
$h3-letter-spacing: 0.024px;

$caption1-weight: 400;
$caption1-size: 16px;
$caption1-line-height: 24px;
$caption1-letter-spacing: 0.15px;

$caption2-weight: 400;
$caption2-size: 14px;
$caption2-line-height: 24px;
$caption2-letter-spacing: 0.15px;

$caption3-weight: 400;
$caption3-size: 20px;
$caption3-line-height: 20px;
$caption3-letter-spacing: 0.25px;

$caption4-weight: 400;
$caption4-size: 14px;
$caption4-line-height: 20px;
$caption4-letter-spacing: 0.25px;

$button-weight: 700;
$button-size: 14px;
$button-line-height: 16px;
$button-letter-spacing: 0.4px;
