$background-overlay-light: rgba(19, 29, 40, 0.8);
$background-overlay-dark: rgba(144, 151, 159, 0.8);

$primary-a-100: #ffffff;
$primary-a-200: #f7f9ff;
$primary-a-400: #c4cfff;
$primary-a-400: #800080;
$primary-a-700: #abbaff;

$secondary-50: #e4e6e8;
$secondary-100: #bcc1c5;
$secondary-200: #90979f;
$secondary-300: #636d78;
$secondary-400: #414e5b;
$secondary-500: #202f3e;
$secondary-600: #1c2a38;
$secondary-700: #182330;
$secondary-800: #131d28;
$secondary-900: #0b121b;

$system-green-100: #c8f1d6;
$system-green-200: #a4e7bb;
$system-green-300: #80dda0;
$system-green-400: #64d68b;
$system-green-500: #49cf77;

$error-100: #ffc4c1;
$error-200: #ff9d98;
$error-300: #ff766e;
$error-400: #ff584f;
$error-500: #ff3b30;

$information: #fdb0ff;
$highlight: #fffdc1;

$grey-7: #0b1b0f;
